<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA259evWRO5-zdxK6Bi-JQKnHMo__N4kno</string>
	<key>GCM_SENDER_ID</key>
	<string>450837887458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appcoda.SwiftUIForm</string>
	<key>PROJECT_ID</key>
	<string>formulariocomida-6aa85</string>
	<key>STORAGE_BUCKET</key>
	<string>formulariocomida-6aa85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450837887458:ios:e74b74b995c19a157be1bb</string>
</dict>
</plist>